<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareToEmail">

        <!-- Launcher / Settings -->
        <activity
            android:name="ch.hubisan.sharetoemail.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NEW: picker for default email app -->
        <activity
            android:name=".EmailAppPickerActivity"
            android:exported="false" />

        <!-- Real share receiver -->
        <activity
            android:name=".ShareActivity"
            android:exported="true" />

        <activity-alias
            android:name=".ShareAliasA"
            android:targetActivity=".ShareActivity"
            android:exported="true"
            android:label="Share to @A"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ShareAliasB"
            android:targetActivity=".ShareActivity"
            android:exported="true"
            android:label="Share to @B"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ShareAliasC"
            android:targetActivity=".ShareActivity"
            android:exported="true"
            android:label="Share to @C"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
